/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #F1F1F1;
  font-family: 'Fira Sans',Arial,"Lucida Grande",sans-serif;
}

.header-container {
  width: 800px;
  margin-right: 25%;
}

nav li a {
  color: #555;
}

.team-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #ececec;
  text-align: center;
  margin-top: 0px;
  font-family: 'Fira Sans',Arial,"Lucida Grande",sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  background-color: rgba(201, 227, 246, 1);
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Fira Sans',Arial,"Lucida Grande",sans-serif;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-bottom: 0;
  background-image: url("./images/molecules.jpg");
  background-size:cover;
  padding: 30px 0px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 18px;
  background-color: #D9615B;
  border-color: #D9615B;
}
.jumbotron p {
  font-size: 1.625em;
}
.jumbotron h1 {
  font-size: 4em;
  font-weight: 300px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing h3 {
  font-size: 22px;
  margin: 16px 0;
}

.marketing section {
  overflow: hidden;
}

.marketing section img {
  float: left;
  margin: 0 10px;
}

footer {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 10px 10px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Space out the masthead */
  .header {
    padding-top: 10px;
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
