extends layout

block content
  div.main
    div.main-content
      div.text-center
        h1= title
      div.form-div.center#form
        form#search-form
          div.form-group.main-search
            div.btn-group.repository-selection(role="group")
              button.btn.btn-default(type="button") DataCite
              button.btn.btn-default(type="button") GitHub
              button.btn.btn-default(type="button") BitBucket
              button.btn.btn-default(type="button") FigShare
              button.btn.btn-default(type="button") Zenodo
            div.input-group.reusable-search
              div.input-group-btn
                button.btn.btn-default.dropdown-toggle.keyword-dropdown(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select 
                  span.caret
                ul.dropdown-menu
                  each val in ['Author ', 'Citation ', 'Code Repository ', 'Date ', 'Description ', 'Email ', 'Keywords ', 'License ', 'Name ', 'ORCID ', 'Type ']
                        li: a(href="#")= val
              input.form-control.searchbar#search(type='search' name='search')
              span.input-group-btn
                button.btn.btn-default.add-search-button(type="button") 
                  i.fa.fa-plus
            button.btn.btn-default.search-button(type='submit' name='submit-search') Search



