extends layout

block navigation
    nav.navbar.navbar-default
      div.container-fluid.navbar-content
        link(href="/stylesheets/tabzilla.css" rel="stylesheet")
        div#tabzilla
          a(href="https://www.mozilla.org/") mozilla
        div.navbar-header
          a.navbar-brand-link.navbar-brand(href='#')
            img.nav-logo#moz-logo(src='/images/logo.png' alt='logo' width='260px' height='65px')
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='#') Link
            li: a(href='#') Link2



block content
  div.main
    div.text-center
      h1= title
    div.form-div.center#form
      form.form-inline
        div.form-group
          input.form-control.searchbar(type='search' name='search')
          button.btn.btn-default(type='submit' name='submit-search') Search
        div.form-inline.repository-selection
          label.checkbox-inline
            input(type='checkbox' value='option1')
            ="DataCite"

          label.checkbox-inline 
            input(type='checkbox' value='option2')
            ="GitHub"
          label.checkbox-inline
            input(type='checkbox' value='option3')
            ="FigShare"


  
block footer
  footer.footer
    div.footer-image
      img.footer-design(src="/images/footer.png" with="200px" height="205px")
    div.footer-background
      div.footer-text
        div.row
          div.col-xs-5.footer-content
            ul.footer-list
              li: img#moz-footer-logo(src='/images/moz-logo.png' alt="mozilla")
              li Terms of Service
              li Privacy Policy
              li Code of Conduct
              li Report a Bug
              li Creative Commons Attribution 4.0 International License
          div.col-xs-2.footer-content.social-media
            ul.footer-list
              li: h5 KEEP IN TOUCH
              li
                a(href="http://forum.mozillascience.org/") 
                  span.fa.fa-comments
                  span Forum
              li
                a(href="http://twitter.com/MozillaScience")
                  span.fa.fa-twitter
                  span @MozillaScience
              li 
                a(href="https://wiki.mozilla.org/ScienceLab/Calls")
                  span.fa.fa-phone
                  span Community Call
              li 
                a(href="https://www.mozillascience.org/feed")
                  span.fa.fa-rss
                  span RSS Feed
              li 
                a(href="irc://irc.mozilla.org/sciencelab")
                  b irc
                  span #ScienceLab
          div.col-xs-3.footer-content.subscribe-footer
            h5 MAILING LIST
            p.small-text Occasional e-mail updates & news
            form.form-inline.footer-form(action="https://mail.mozilla.org/subscribe/mozillascience" method="POST")
              input.form-control.footer-signup(placeholder="Sign up with your e-mail" name="email")
              button.pure-button.pure-button-primary(type="submit")
                i.fa.fa-caret-right
        div.row
          h3.footer-header
            ul.footer-list.footer-links
              li: a(href="#") Home
              li.spacer
              li: a(href="#") About
              li.spacer
              li: a(href="#") Blog
              li.spacer
              li: a(href="#") Training
              li.spacer
              li: a(href="#") Community
              li.spacer
              li: a(href="#") Collaborate


