doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Fira+Sans:300, 400, 800" type='text/css')
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')

  body
    block navigation

    block content

    block footer

    block js
      script(src="/javascripts/hello.js")
