doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Fira+Sans:300, 400, 800" type='text/css')
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')

  body
    block navigation

    block content

    block footer

    block js
      script.
        var repoElements = document.querySelectorAll("div.repository-selection button");
        Array.prototype.forEach.call(repoElements, function(el, i) {
          el.addEventListener("click", function() {
            el.classList.toggle("active");
          });
        });
        var searchBarNodeClone = document.querySelectorAll('div.reusable-search')[0].cloneNode(true);
        var searchListeners = document.querySelectorAll("div.main-search");
        Array.prototype.forEach.call(searchListeners, function(el, i){
          el.addEventListener("click", function(){
          //add button
            if(event.target.classList.contains('add-search-button')){
             // var newNode = event.target.parentNode.parentNode.cloneNode(true);
              event.target.parentNode.parentNode.parentNode.insertBefore(searchBarNodeClone,event.target.parentNode.parentNode.nextSibling);
            }
          //add button icon
            else if(event.target.parentNode.classList.contains('add-search-button')){
              var newNode = event.target.parentNode.parentNode.parentNode.cloneNode(true);
              event.target.parentNode.parentNode.parentNode.parentNode.insertBefore(newNode,event.target.parentNode.parentNode.parentNode.nextSibling);
            }
          //dropdown
            else if(event.target.nodeName == 'A'){
              var keywordButton = event.target.parentNode.parentNode.parentNode.firstChild;
              keywordButton.childNodes[0].nodeValue = event.target.innerHTML;
            }
          });
        });
      script(src="/javascripts/hello.js")
