//Colors
$sand-top: #D7D3C8;
$sand-bottom: #F6F4EC;
$salmon: #D9615B;
$science-blue: #C9E3F6;
$spacer-orange: #F7C4A6;

//HTML Elements
html, body {
	font: 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin:0;
  	padding:0;
  	height:100%;
}
body{
	background-color: #fff;;
	h1, h2, h3, h4, h5{
		font-family: 'Fira Sans', Arial, "Lucida Grande", sans-serif;
		font-weight:800;
	}
	}

a {
  	color: #00B7FF;
}
.main{
	width:100%;
	min-height:50%;
	display: flex;
 	align-items: center;
 	justify-content: center;
 	div.main-content{
 		width: 80%;
 	}
 	form{
 		margin:0 auto;
 		max-width: 40%;
 		div{
			&.repository-selection{
				margin-bottom:25px;
 			}
 			&.reusable-search{
 				margin-top:10px;
 			}
 			ul{
 				li{
 					&.list-group-item.disabled{
 						padding:0;
 						border-radius:0;
 						margin:0;
 						border:none;
 					}
 				}
 			}
 		}
 		input{
			&.searchbar.form-control{
				width:100%;
			}
 		}
 		button.search-button{
 			margin-top:20px;
 			min-width: 150px;
 		}
 	}
}

div{
	#form{
		margin-top:50px;
	}
}

nav.navbar{
	margin-bottom:0px;
	margin-top:2px;
	height:75px;
	background-color: $science-blue;
	&.navbar-default{
		border-width:0px 0px 3px 0px;
		border-image: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.84) 14%,rgba(255,255,255,0.54) 26%,rgba(255,255,255,0.4) 42%,rgba(255,255,255,0.1) 61%,rgba(255,255,255,0) 70%,rgba(255,255,255,0)1 100%);
	}
	
	a{
		&.navbar-brand-link{
		margin:0;
		padding:0;
		margin-top:12px;
		}
		#moz-logo{
			margin:0;
			padding:0;
			height:36px;
			width:auto;
		}
	}
	div{
		&.navbar-content{
			width: 80% ;
			text-align: center;
			marign:0 auto;
		}
	}
	ul{
		&.navbar-nav{
			margin-top:10px;
			margin-left: 20px;
		}
	}
}

form{
	button{
		&.pure-button{
			background: $science-blue;
			color: $salmon;
	    	padding: 0.5em 1em 0.6em;
		    margin: 0 0.5em;
		    border: none;
		    font-size: 1em;
		    line-height: 1em;
		}
	}
}

footer{
	&.footer{
		width:100%;
		color:white;
		font-size: 1.0em;
		bottom:0px;
		position:absolute;
		h3{
			font-family: 'Fira Sans', Arial, "Lucida Grande", sans-serif;
			font-weight: 300;
		}
		div{
			&.footer-background{
				background-color: $salmon;
				border-top: 12px solid $science-blue;
			
			}
			&.footer-text{
				width:90%;
				margin:0 auto;
			}
			&.footer-image{
				//height:127px;
			}
			.footer-content{
				margin-top: 30px;
				margin-left: 32px;
				&.social-media{
					margin-left: 24px;
					margin-top: 25px;
				}
				&.subscribe-footer{
					@extend .social-media;
					margin-left:108px;
					input{
						font-size:0.9em;
						font-style:italic;
						width:160px;
						height:28px;
						border-radius:0px;
						border:none;
						padding: 0.5em;
					}
				}
		
				p{
					&.small-text{
						font-size: 85%;
						color: #ccc;
						margin-top: -10px;
					}
				}
			}
			img{
				&.footer-design{
					position:absolute;
					margin-left:20px;
					margin-top:-173px;
				}
			}
			h5{
				font-size:1.0em;
				line-height:1.7em;
				margin-bottom:14px;
				font-weight: 400;

			}
			ul{
				line-height:1.6em;
				b + span, &.footer-list span + span{
					margin-left:4px;
				}
				&.footer-list{
					a{
						color:white;
					}
					list-style-type:none;
					font-size: .9em;
					letter-spacing: normal;
					word-spacing: normal;
				}
				&.footer-links{
					display:flex;
					flex-direction:row;
					justify-content: space-between;
					flex-wrap:wrap;
					margin-left:48px;
					//margin-top:75px;
					width:90%;
					li{
						a{
							text-transform: uppercase;
							font-size: 0.8em;

						}
					}
				}
				li{
					&.spacer{
						border-right: 1px solid $spacer-orange;
					}
					#moz-footer-logo{
						margin-bottom:13px;
					}
				}
			}
			form.form-inline.footer-form{
				margin-top:30px;
			}
			input{
				&.footer-signup{
					width:200px;
				}
			}
			h3{
				&.footer-header{
					a{
						color:white ;
						font-size: 20px;
					}
				} 
			}
		}
	}
}

.center {
     margin:0 auto;
     text-align:center;
}
